name: Spider-Task

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch: # 手动触发
  schedule: # 计划任务触发
    - cron: '0/30 * * * * ? ' # cron表达式，Actions时区是UTC时间，所以要往前推8个小时,如上表示每天0点10分

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      
    # 设置服务器时区为东八区 
    - name: Set time zone
      run: sudo timedatectl set-timezone 'Asia/Shanghai'
    
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100

    - name: Install dependencies
      run: dotnet restore
      
    - name: Build
      run: dotnet build --configuration Release --no-restore
      
    - name: Run
      env:
        Configuration: ${{ github.event.client_payload.Configuration || secrets.Configuration }}
      run: dotnet run -p ./src/SpiderTask.ConsoleApp ${Configuration}

          